{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <nav id="sidebar">
        <ul class="list-unstyled components">
          <li class="{% if request.resolver_match.url_name == 'getting-started' %}active{% endif %}">
            <a href="{% url 'getting-started' %}">Introduction</a>
          </li>
          <!-- Example of drop down menu
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="#">Page 1</a>
              </li>
              <li>
                <a href="#">Page 2</a>
              </li>
              <li>
                <a href="#">Page 3</a>
              </li>
            </ul>
          </li>
          End example -->
          <li class="{% if request.resolver_match.url_name == 'data-products-overview' %}active{% endif %}">
            <a href="{% url 'data-products-overview' %}">Data Products Overview</a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'technical-resources' %}active{% endif %}">
            <a href="{% url 'technical-resources' %}">Technical Resources</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md">
      {% block getting-started-content %}{% endblock %}
    </div>
  </div>
{% endblock %}
