{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Alert Summary{% endblock %}
{% block content %}
  <h1>Alert Id: {{alert_id}}</h1>
  <h3><b>Object:</b> <a href="{% url 'objects:object-summary' pk=alert_data.objectId %}">{{alert_data.objectId}}</a> </h3>
  <h3><b>Survey:</b> {{survey}}</h3>

  <br>

  <table class="table">
    <tr>
      <th style="text-align:center">Science Cutout</th>
      <th style="text-align:center">Template Cutout</th>
      <th style="text-align:center">Difference Cutout</th>
    </tr>
    <tr>
      <td style="text-align:center"><img src="data:image/png;base64,{{ science_image | bin_2_utf8 }}"  alt="Missing Science Image"></td>
      <td style="text-align:center"><img src="data:image/png;base64,{{ template_image | bin_2_utf8 }}"  alt="Missing Template Image"></td>
      <td style="text-align:center"><img src="data:image/png;base64,{{ difference_image | bin_2_utf8 }}"  alt="Missing Difference Image"></td>
    </tr>
  </table>

  <br>

  <div class="section-header">
    <h3>Alert Data</h3>
  </div>
  <p>Alert data is presented as provided by the parent survey as is not
  modified in any way.
  </p>
  <table class="table table-striped  table-sm">
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  {% for field, value in alert_data.items %}
    <tr>
      <td>{{field}}</td>
      <td>{{value}}</td>
    </tr>
  {% endfor %}
  </table>

  <br>

  <div class="section-header">
    <h3>Value Added Data Products</h3>
  </div>
  <p>Value added data products may not be available for alerts that are still
  undergoing processing. Furthermore, some data products are determined
  conditionally and are only available for certain alerts.
  </p>
  <table class="table table-striped table-sm">
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    {% for field, value in value_added.items %}
    <tr>
      <td>{{field}}</td>
      <td>{{value}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
