{% extends 'base.html' %}

{% block title %}Alerts{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Recent Alerts</h2>
    <p>
      This page provides a limited summary of recently processed alerts and their
      status in the <b>PGB</b> pipeline.
    </p>
    <table class="table table-striped">
      <tr>
        <th>Timestamp</th>
        <th>Topic</th>
        <th>Alert</th>
      </tr>
      {% for time, message in pbsub_zip %}
      <tr>
        <td><a href="{% url 'alerts' %}{{time}}">{{time}}</a></td>
        <td>Some topic</td>
        <td>"This is a message"</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-4">

    <div class="card">
      <div class="card-header">
        Filter By Date
      </div>
      <div class="card-body">
        Todo: Add a date select here
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-header">
        Filter By Region
      </div>
      <div class="card-body">
        Todo: Add a RA/Dec select here
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-header">
        Filter By Topic
      </div>
      <div class="card-body">
        Todo: Add a topic checklist here
      </div>
    </div>
  </div>
</div>
{% endblock %}
