{% extends 'broker_tom/broker_tom_base.html' %}

{% block title %}Alerts{% endblock %}

{% block broker-tom-content %}
    <h2>Recent Alerts</h2>
    <p>
      This page provides a limited summary of recently processed alerts and their
      status in the <b>PGB</b> pipeline.
    </p>
    <table class="table table-striped">
      <tr>
        <th>Survey</th>
        <th>Alert Id</th>
        <th>Object Id</th>
        <th>Topic</th>
        <th>Timestamp</th>
        <th>Message</th>
      </tr>
      {% for survey, alert_id, object_id, topic, timestamp, message in message_zip %}
      <tr>
        <td>{{ survey }}</td>
        <td><a href="{% url 'alerts' %}{{alert_id}}">{{alert_id}}</a></td>
        <td><a href="{% url 'objects' %}{{object_id}}">{{object_id}}</a></td>
        <td>{{ topic }}</td>
        <td>{{ timestamp }}</td>
        <td>{{ message }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
