{% extends 'base.html' %}

{% block additional_js %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% block broker-tom-content %}{% endblock %}
  </div>

  <div class="col-md-4">
    <div style="text-align: right">
      <button class="btn btn-primary" >Filter</button>
      <button class="btn btn-secondary">Reset</button>
    </div>

    <br>

    <div class="card">
      <div class="card-header" id="dateHeading">
        <button class="btn btn-link" data-toggle="collapse" data-target="#date_selector">
          Filter By Date
        </button>
      </div>

      <div id="date_selector" class="collapse show">
        <div class="card-body">
          Todo: Add a date select here
        </div>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-header" id="radecHeading">
        <button class="btn btn-link" data-toggle="collapse" data-target="#radec_selector">
          Filter By RA/Dec
        </button>
      </div>

      <div id="radec_selector" class="collapse show">
        <div class="card-body">
          Todo: Add a RA/Dec select here
        </div>
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-header" id="topicHeading">
        <button class="btn btn-link" data-toggle="collapse" data-target="#topic_selector">
          Filter By Topic
        </button>
      </div>

      <div id="topic_selector" class="collapse show">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for topic in topic_list %}
              <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="check_{{ topic }}">
                  <label class="custom-control-label" for="check_{{ topic }}">{{ topic }}</label>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
