{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>What is the Pitt-Google Alerts Broker?</h2>
      <p>The Pitt-Google Broker (<b>PGB</b>) is a cloud-based, alert
        distribution service designed to provide near real-time processing of
        alerts from the Large Synoptic Survey Telescope (LSST) and Zwicky
        Transient Facility (ZTF). In addition to providing several value
        added data products (see below), the <b>PGB</b> provides public
        access to all ingested alerts from these surveys.
      </p>
      <p>The <b>PGB</b> is designed to run on the Google Cloud Platform (GCP),
          and supports the deployment of downstream brokers built by external
          development teams. This allows users to deploy small scale projects
          for free and large projects on a pay-as-you-need basis. For an
          overview on available data products and how to access them in the
          cloud, see the<a href="{% url 'getting-started' %}">Getting
          Started</a> guides.
      </p>
  </div>
  <div class="col-md-4">
    <div class="card">
        <div class="card-header">Broker Status</div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>Broker Status: {% if online %} <span style="color: green">Online</span> {% else %}<span style="color: red">Offline</span> {% endif %}</li>
            <li>Last Day: {{alerts_in_day}} Alerts</li>
            <li>Last Hour: {{alerts_in_hour}} Alerts</li>
          </ul>
        </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">Your Subscriptions</div>
      <div class="card-body">
        {% if user.is_authenticated %}
          The user subscription feature feature is not yet supported.
        {% else %}
          <a href="{% url 'login' %}">Login</a> to see your alert subscriptions
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
