{% extends 'broker_tom/broker_tom_base.html' %}

{% block title %}Objects{% endblock %}

{% block broker-tom-content %}
  <h2>Recent Objects</h2>
  <p>
    This page provides a limited summary of objects with recently processed alerts.
  </p>
  <table class="table table-striped">
    <tr>
      <th>Survey</th>
      <th>Object Id</th>
      <th>Most Recent Alert</th>
      <th>Alert time</th>
    </tr>
    {% for survey, object_id, alert_id, time in pbsub_zip %}
    <tr>
      <td>{{ survey }}</td>
      <td><a href="{% url 'objects' %}{{ object_id }}">{{ object_id }}</a></td>
      <td><a href="{% url 'alerts' %}{{ alert_id }}">{{ alert_id }}</a></td>
      <td>{{ time }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
