{% load static bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="icon" href="{% static 'images/favicon.png' %}">

  <!-- Site Title -->
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS -->
  {% bootstrap_css %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/doc.css' %}" rel="stylesheet">
  <link href="{% static 'css/prism.css' %}" rel="stylesheet">
  <link href="{% static 'css/value_added_sections.css' %}" rel="stylesheet">
  {% block additional_css %}{% endblock %}

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Jura:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#nav-scroll">

  <nav class="navbar navbar-expand-lg navbar-light bg-white p-x-15 rounded raised superior-nav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
      <div class="collapse navbar-collapse" id="navbar-toggle">

        <!-- Navigation menu -->
        {% include 'navbar_content.html' %}

        <!-- Log in button -->
        <ul class="navbar-button p-0 m-0 ml-15">
          {% if user.is_authenticated %}
            <li>
              <a class="btn btn-primary" title="logout" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="btn btn-primary" title="logout" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>

      </div><!-- / navbar-collapse -->
    </div><!-- / container -->
  </nav><!-- / navbar -->

  <nav id="nav-scroll"
     class="navbar navbar-expand-lg navbar-light bg-light sticky-top right-toggler secondary-nav">
    <div class="container">

      <button class="navbar-toggler collapsed" type="button"
          data-toggle="collapse" data-target="#navbar-toggle-secondary"
          aria-controls="navbar-toggle-secondary" aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
        <span class="sr-only">Toggle navigation</span>
      </button><!-- / navbar-toggler -->

      <div class="navbar-collapse collapse" id="navbar-toggle-secondary" style="">
        {% block secondary-navbar %}{% endblock %}
      </div><!-- / navbar-collapse -->

    </div><!-- / container -->
  </nav><!-- / secondary-nav -->

  {% block header-content %}{% endblock %}
  <div class="container pt-40">
    {% block content %}{% endblock %}
  </div>

</body>

<footer class="bg-inverse dark mt-50">
  <div class="container">
    <div class="row v-center mobile-center">
      <div class="col-md-8 footer-left-area mb-0 tablet-top">
        <p>
          <img src="{% static 'images/logo-light.png' %}" alt="" class="footer-logo hide-mobile mb-0 mr-20">
        </p>
      </div>
      <div class="col-md-4 footer-right-area">
        <p>
          <a href="{% url 'contact:contact' %}" class="text-link">Contact Us</a>
        </p>
      </div><!-- / social-icons -->
    </div><!-- / row -->
  </div><!-- / container -->
</footer>

<!-- Bootstrap JS -->
{% bootstrap_javascript jquery='True' %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://kit.fontawesome.com/d20aaf8273.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/value_added_sections/salt2.js' %}"></script>

{% block additional_js %}{% endblock %}
</html>