{% extends 'base.html' %}

{% block title %}Alert Summary{% endblock %}
{% block additional_js %}
  <script>
    $(document).ready(function() {
      var dtable = $('#alerts_table').DataTable({
        searching: false,
        processing: true,
        serverSide: true,
        initComplete: function(settings, json) {
          var mostRecentAlertId = dtable.row(0).column(2).data()[0];
          addSalt2Section(mostRecentAlertId, 'value-added')
        },
        ajax: "{% url 'objects:single-object-json' pk=object_id %}",
        columns: [
          {"data": "publisher"},
          {"data": "pub_time"},
          {
            "data": "alert_id",
            "render": function (data, type, row, meta) {
              if (type === 'display') {
                data = '<a href="' + "{% url 'alerts:recent-alerts' %}" + data + '">' + data + '</a>';
              }
              return data;
            }
          },
          {"data": "filter"},
          {"data": "magnitude"}
        ]
      });
    });

  </script>
{%endblock %}

{% block content %}
  <h1>Object Id: {{object_id}}</h1>

  <div class="section-header">
    <h3>Processed Alerts</h3>
  </div>
  <table id="alerts_table" class="table table-striped">
    <thead>
      <tr>
        <th>Publisher</th>
        <th>Publication Time</th>
        <th>Alert Id</th>
        <th>Filter</th>
        <th>Magnitude</th>
      </tr>
    </thead>
  </table>
  <div id="value-added"></div>

{% endblock %}