{% extends 'base.html' %}

{% block title %}Alert Summary{% endblock %}

{% block content %}
  <h1>Object Id: {{object_id}}</h1>

  <br>

  <p>Add a plot of the light-curve here</p>
  <p>Add a plot of the classifications over time here</p>

  <br>

  <div class="section-header">
    <h3>Recent Alerts</h3>
  </div>
  <table class="table table-striped  table-sm">
  <tr>
    <th>Publisher</th>
    <th>Alert Id</th>
    <th>Publication Time</th>
  </tr>
  {% for publisher, alert_id, pub_time in recent_alerts %}
    <tr>
      <td>{{publisher}}</td>
        <td>
            <a href="{% url 'alerts:alert-summary' pk=alert_id%}">{{alert_id}}</a>
        </td>
      <td>{{pub_time}}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}