{% extends 'base.html' %}

{% block title %}Alert Summary{% endblock %}

{% block content %}
  <h1>Object Id: {{object_id}}</h1>

  <br>

  <p>Add a plot of the light-curve here</p>
  <p>Add a plot of the classifications over time here</p>

  <br>

  <div class="section-header">
    <h3>Data Products Summary</h3>
  </div>
  <table class="table table-striped  table-sm">
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  {% for field, value in alert_data.items %}
    <tr>
      <td>{{field}}</td>
      <td>{{value}}</td>
    </tr>
  {% endfor %}
  </table>

  <br>

  <div class="section-header">
    <h3>Recent Alerts</h3>
  </div>
  <table class="table table-striped  table-sm">
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  {% for field, value in alert_data.items %}
    <tr>
      <td>{{field}}</td>
      <td>{{value}}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}