{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block additional_js %}
  <script>
    let salt2Table = buildSalt2Table("{% url 'objects:salt2-fits-json' %}")
    document.getElementById('salt2-table').appendChild(salt2Table)
  </script>
{%endblock %}

{% block title %}Salt2 Fits{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>Salt2 Fits</h2>
        <p>
          The following table contains fit results for the Salt2 Supernova model.
          Fits are performed for all targets that ...
        </p>
      <div id="salt2-table"></div>

    </div>
  </div>

{% endblock %}