{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h2>Contact Us</h2>
      <p>Have a question? Feel free to drop us a line! You should hear back from us within a few business days.</p>

      <div class="card">
        <div class="card-body">
          <div class="contact-form">
            <form id="contact-form" method="post">
              <div class="messages"></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_name">Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Your Name *" required="required" data-error="Name is required.">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_lastname">Username *</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Your Username *" required="required" data-error="Username is required.">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Your Email *" required="required" data-error="Valid email is required.">
                  </div><!-- / form-group -->
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_need">Select Topic *</label>
                    <select id="form_need" name="need" class="form-control custom-select" required="required" data-error="Please select a topic">
                      <option value="">&nbsp;</option>
                      <option value="Presale">Presale</option>
                      <option value="Billing">Account</option>
                      <option value="Support">Support</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Your message here..." rows="10" required="required" data-error="Please, leave us a message." style="max-height: 240px;"></textarea>
                  </div>
                </div>

                <div class="col-md-12">
                  <input type="submit" class="btn btn-lg btn-primary btn-submit d-block" value="Send Message">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
