{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block header-content %}
  <header class="bg-img img-bottom pt-30 pb-50" style="background-image: url({% static 'images/header-bg.png' %})">
    <div class="container pt-40">
      <div class="row v-center p-y-50">
        <div class="col-md-5 mb-40 dark">
          <h1 class="mb-10">Pitt-Google Alert Broker</h1>
          <p class="mb-20 lead">
            A cloud-base alert broker for real time processing of data from
            next generation astronomical surveys. Put a few sentences
            describing our broker here. Also add a better background image to
            the top of this page (I'm thinking LSST on the mountain - DJP).
          </p>
          <p>
            <a href="{% url 'why-pgb' %}"
               class="btn btn-secondary-gradient rounded m-10 ml-0 smooth-scroll"><span
                class="fa fa-info-circle mr-2"></span>
              <span>Why Use PGB?</span>
            </a>
            <a href="{% url 'signup:signup' %}"
               class="btn btn-primary-gradient rounded m-10 ml-0 smooth-scroll"><span
                class="fa fa-user mr-2"></span>
              <span>Sign Up</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div id="features" class="container p-y-100">
    <div class="row">

      <!-- Todo: Change links to point to getting started guides -->
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'why-pgb' %}#value_added">
          <div class="promo-box text-center tablet-lg-top-30 rounded-10 blur d-block">
            <i class="fa fa-chart-bar promo-icon d-block mb-25 text-primary"></i>
            <h6 class="box-title mb-15">Value Added Products</h6>
            <p class="box-description lead mb-0">
              Provides target classification and external catalog cross matching.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4">
        <a href="{% url 'why-pgb' %}#subscriptions">
          <div class="promo-box text-center rounded-10 blur d-block">
            <i class="fa fa-bell promo-icon d-block mb-25 text-primary"></i>
            <h6 class="box-title mb-15">Custom Alert Subscriptions</h6>
            <p class="box-description lead mb-0">
              Subscribe to customized alert
              streams and share with other team members.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4">
        <a href="{% url 'why-pgb' %}#analysis_support">
          <div class="promo-box text-center tablet-lg-top-30 rounded-10 blur d-block">
            <i class="fa fa-calculator promo-icon d-block mb-25 text-primary"></i>
            <h6 class="box-title mb-15">Supports Your Science</h6>
            <p class="box-description lead mb-0">
              Supports the deployment full scale, scientific analysis pipelines.
            </p>
          </div>
        </a>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="{% url 'why-pgb' %}#tom_toolkit">
          <div class="promo-box text-center tablet-lg-top-30 rounded-10 blur d-block">
            <i class="fa fa-globe promo-icon d-block mb-25 text-primary"></i>
            <h6 class="box-title mb-15">Tom Toolkit Enabled</h6>
            <p class="box-description lead mb-0">
              Submit observing requests to astronomical observatories around the globe.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4">
        <a href="{% url 'why-pgb' %}#web_interface">
          <div class="promo-box text-center rounded-10 blur d-block">
            <i class="fa fa-users promo-icon d-block mb-25 text-primary"></i>
            <h6 class="box-title mb-15">Collaborative Web Interface</h6>
            <p class="box-description lead mb-0">
              Save and share alert related data products with your team.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4">
        <a href="{% url 'why-pgb' %}#cloud_built">
          <div class="promo-box text-center tablet-lg-top-30 rounded-10 blur d-block">
            <i class="fa fa-cloud promo-icon d-block mb-25 text-primary"></i>
            <h6 class="box-title mb-15">Built for the cloud</h6>
            <p class="box-description lead mb-0">
              Designed to maximize uptime and minimize headaches.
            </p>
          </div>
        </a>
      </div>

    </div>
  </div>
{% endblock %}
