{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="row pt-20">
    <div class="col-md-12">
      <h2 id="value_added">Value Added Products</h2>
      <p>Describe what products we provide.</p>
    </div>
  </div>

  <div class="row pt-20">
    <div class="col-md-12">
      <h2 id="subscriptions">Custom Alert Subscriptions</h2>
      <p>Describe the alert subscription system.</p>
    </div>
  </div>

  <div class="row pt-20">
    <div class="col-md-12">
      <h2 id="analysis_support">Supports Full Scale Analysis Pipelines</h2>
      <p>Not every broker has a clear way to support analysis. Emphasize that we do.</p>
    </div>
  </div>

  <div class="row pt-20">
    <div class="col-md-12">
      <h2 id="tom_toolkit">Tom Toolkit Enabled</h2>
      <p>Sentance on what Tom lets you do. What services do we provide?</p>
    </div>
  </div>

  <div class="row pt-20">
    <div class="col-md-12">
      <h2 id="web_interface">Collaborative Web Interface</h2>
      <p>
        We realize not everyone needs a full scale development environment in
        the cloud. This is why we provide a web interface.
      </p>
    </div>
  </div>

  <div class="row pt-20">
    <div class="col-md-12">
      <h2 id="cloud_built">Built for the Cloud</h2>
      <p>Explain why working in the cloud gives us an edge.</p>
    </div>
  </div>

{% endblock %}
