body {
    padding-top: 5rem;
    font-family: sans-serif;
}

.content {
    padding: 3rem 1.5rem;
}

.navbar-brand > img {
    max-height: 25px;
}

.input-group-text {
    font-family: monospace;
}

.section-header h1 {
  display: inline;
}

.section-header h2 {
  display: inline;
}

.section-header h3 {
  display: inline;
}

.section-header span {
  float: right;
}