{% extends 'base.html' %}

{% block title %}Getting Started{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 tablet-lg-top-30">
      {% include 'getting_started/getting_started_navbar.html' %}
    </div>

    <div class="col-lg-9">
      <h3>Getting Started</h3>

        The Pitt-Google Broker (PGB) is designed to provide a value-added copy
        of astronomical alerts in a way that supports the development and
        deployment of astronomical analysis pipelines. It is built from the
        ground up to provide a modular and scalable service that users can use
        to support a variety of parallel and down stream services. The Getting
        Started guide provides an overview for each of these data products and
        services, including examples of how to deploy your own alert based
        tools.
    </div>
  </div>
{% endblock %}
