{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
  <div style="text-align:center">
    <form action="{% url 'admin-user-change-password' view.kwargs.pk %}" method="POST" onsubmit="return checkRecaptcha();">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Change Password
        </button>
      {% endbuttons %}
      <br>
      {% include 'recaptcha.html' %}
    </form>
  </div>
{% endblock %}